.diagram {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color4);
  box-shadow: 0px 2px 7px var(--color3);
}

@media (max-width: 576px) {
  .diagram {
    padding: 10px;
  }
}