.bars {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar {
  width: 12px;
  position: relative;
  height: 140px;
  background-color: var(--color5);
  border-radius: 6px;
  margin-bottom: 6px;
  overflow: hidden;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color3);
  transition: all .3s ease-in-out;
}

.label {
  color: var(--color2);
  font-style: italic;
}

@media (max-width: 576px) {
  .bar {
    width: 10px;
  }
}